@tailwind base;
@tailwind components;
@tailwind utilities;

.currentDayData {
  background-image: url('../public/images/Rectangle\ 2.png');
  background-repeat: no-repeat;
  object-fit: contain;
  /* scale: 1.08; */
}

.btn {
  @apply flex flex-row items-center justify-center w-full h-14 bg-gradient-to-r from-cuscyan rounded-lg to-cusblue font-semibold md:text-xl text-base;
}

.modal-overlay {
  position: absolute;
  display: none; 
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5); */
  /* z-index: 2;  */
  cursor: pointer; 
}

.search-list {
  /* width: 100%; */
  position: absolute;
  top: 30%;
  @apply bg-slate-900;
}

.modalBg {
  background: rgba(0, 0, 0, .3);
}